<% include includes/header %>
<div class="title">
	<h2>How fast can you type?</h2>
	<p>Enter your name and press the submit button to check your typing test</p>
</div>
<div class="content">
	<form id="home-form">
		<div class="form-group">
			<input class="form-control" type="text" name="name" id="name" placeholder="Enter your name">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary wd-btn" name="submit" value="Start" id="submit">
		</div>
	</form>
</div>
<% include includes/footer %>