<% include includes/header %>
	<div class="timer" id="timer"><span>60s</span></div>
		<div class="name-holder" id="name-holder">
			<p>You have 1 minute to do your typing. The timer starts when you start typing!</p>
		</div>
		<div class="loading">
		</div>
		<div class="speedbox">
			<textarea class="form-control" rows="6" style="font-size: 22px;" disabled="" id="copyText">One day Jimmy Westfielder was walking home from school and saw a big, brown dog walking behind him. At first he was a bit startled at the fact that the dog was just calmly walking behind him. Jimmy stopped and turned around to face the dog. When Jimmy looked into the dog&#039;s eyes he became  Cognizant that the dog meant no harm at all. Jimmy bent down to the dog&#039;s level and put one of his hands out. As soon as Jimmy did so the dog began to lick  Jimmy&#039;s hand. Jimmy then checked to see if the dog had a collar, which he didn&#039;t, and when he didn&#039;t find a collar he then said, &quot;Hello my name is Jimmy.
			</textarea>
		</div>
		<div class="speedbox">
			<textarea id="typingText" class="form-control" rows="6" placeholder="Start Typing Here" maxlength="550"></textarea>
		</div>
<% include includes/footer %>